<br>
<br>
<br>
<a class="go_home_link" href="/protectedUserHomePage">Back to User Home Page</a><br>
<br>
<a href="/myAppointments/add">Add Appointment</a>
<br>
<h2>Active Appointments</h2>
{{#if activeAppointments}}
  {{#each activeAppointments}}
    <div class="myAppointments">
      <p>Class Name: {{this.className}}</p>
      <p>Selected Time Slot: {{this.selectedTimeSlotString}}</p>
      <form action="/myAppointments/update/{{this._id}}/cancellation" method="POST">
        <input type="hidden" name="cancelledOrNot" value="true">
        <button type="submit">Cancel</button>
      </form>
      <form action="/myAppointments/delete/{{this._id}}" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  {{/each}}
{{else}}
  <p>No active appointments found</p>
{{/if}}

<h2>Cancelled Appointments</h2>
{{#if cancelledAppointments}}
  {{#each cancelledAppointments}}
    <div class="myAppointments">
      <p>Class Name: {{this.className}}</p>
      <p>Selected Time Slot: {{this.selectedTimeSlotString}}</p>
      <form action="/myAppointments/update/{{this._id}}/cancellation" method="POST">
        <input type="hidden" name="cancelledOrNot" value="false">
        <button type="submit">Reschedule</button>
      </form>
      <form action="/myAppointments/delete/{{this._id}}" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  {{/each}}
{{else}}
  <p>No cancelled appointments found</p>
{{/if}}

<h2>Past Appointments</h2>
{{#if pastAppointments}}
  {{#each pastAppointments}}
    <div class="myAppointments">
      <p>Class Name: {{this.className}}</p>
      <p>Selected Time Slot: {{this.selectedTimeSlotString}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No past appointments found</p>
{{/if}}