<br><br><br>
<div class="navigation">
    <a class="go_home_link" href="/admin/adminHome">Home Page</a><br>
</div>
<div class=" classes">
{{#if classes}}
{{#each classes}}

<div class="detailscont cls-detail">
<p>
    <h2 class="class-name">
        {{  this.className  }}
    </h2>
</p>
    <p>
        Slots:
        Date : {{this.slots.Date}}
        Time : {{this.slots.timing}}
    </p>
    <p>
        Phone: 
        {{  this.instructor }}
    </p>
    <p>
        Email: {{   this.description }}
    </p>
    <p>
        Max Population Density : {{ this.classCapacity  }}
    </p>

    <form id="class-update-{{this._id}}" class="class-update-form" method="POST">
      <button class="det-updatebtn" data-class-id="{{this._id}}" >Update Class Details</button>
    </form>

    <form id="class-delete-{{this._id}}" class="class-delete-form" method="POST">
      <button class="det-deletebtn" data-class-id="{{this._id}}">Delete Class</button>
    </form>
</div>
    {{/each}}

{{else}}
NO Classes created yet
{{/if}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/updateDeleteClass.js"></script>