<br>
<br>
<br>
<a class="go_home_link" href="/user/protectedUserHomePage">Back to User Home Page</a><br>
<br>
<a href="/myAppointments">Go to My Appointment</a>
<br>
<h2>Class and event</h2>
<div class="classandevent">
    <p></p>

    {{#if classes}}
    <ul>
        {{#each classes}}
        <li>
            <h2>{{this.className}}</h2>
                <input type="hidden" class="class_id" value="{{this._id}}">
            <p>
                Date : {{#if this.slots.Date}}
                {{
                    this.slots.Date
                }}
            </p>
            {{else}}
            <p>No Dates slots available.</p>
            {{/if}}
            <p>
                Time: {{#if this.slots.timing}}
                {{
                    this.slots.timing
                }}
            </p>
            {{else}}
            <p>No time slots available.</p>
            {{/if}}
            

            {{#if this.reviewsText}}
            <ul>
                {{#each this.reviewsText}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            {{else}}
            <p>No reviews.</p>
            {{/if}}
        </li>
    <button class="add_class_review" data-class-id="{{this._id}}">add reviews</button>
        {{/each}}
    </ul>

    {{else}}
    <p>No classes available.</p>
    {{/if}}
    <a href="/myAppointments/add">Click here to register for classes</a>


</div>
<script src="/public/js/addClassReview.js"></script>