<br><br>
<div class="navigation">
    <a class="classes_link" href="/gym/gymDetails">All Gyms</a>
    <a class="go_home_link" href="/">Go to Home Page</a><br>
</div>

<div class = "gyms">
<br><br><br>
<div class="form-cont">
<form id="gymUpdation" method="post" class = "classes-form">
    <label for="branchName">Branch Name:</label>
    <input type="text" id="branchName" placeholder="Branch Name" name="branchName" value="{{gym.branchName}}" required>

    <label for="website">Website:</label>
    <input type="url" id="website" placeholder="https://www.example.com" name="website" value="{{gym.website}}" required>

    <label for="address">Address:</label>

    <label for="streetName">Street:</label>
    <textarea id="streetName" placeholder="street Name" name="streetName" placeholder="Enter Street Name" required>{{gym.address.streetName}}</textarea>

    <label for="city">City:</label>
    <textarea id="city" name="city" placeholder="Enter City" required>{{gym.address.city}}</textarea>

    <label for="state">State:</label>
    <textarea id="state" name="state" placeholder="Enter State" required>{{gym.address.state}}</textarea>

    <label for="zipCode">Zip Code:</label>
    <input type="text" id="zipCode" placegolder = "00000"name="zipCode" value="{{gym.address.zip}}" required>

    <label for="phoneNumber">Phone Number:</label>
    <input type="tel" id="phoneNumber" placeholder="0123456789" name="phoneNumber" value="{{gym.phoneNumber}}" required>

    <label for="email">Email:</label><br>
    <input type="email" id="email" placeholder = "abc@def.ghi" name="email" value="{{gym.email}}" required>

    <label for="maxCapacity">Max Population Density:</label>
    <input type="number" id="maxCapacity" placeholder = "0-200" name="maxCapacity" value="{{gym.maxCapacity}}" required>

    <input type="submit" id = "updateB"value="updateGym" class="clickbutton">
            {{#if error }}
            <div class="form-group">
                <div class="alert alert-danger">
                    <p>{{ error }} </p>
                </div>
            </div>
        {{/if}}    

</form>
</div>
</div>

	<script src="/public/js/gymFormValidation.js"></script>