    {{#each locations}}
    <div class=" location">
    <h2>
        {{  this.BranchName  }}
    </h2>

    <div>
        <p>
            Website: 
            <a href="">
                {{  this.website    }}
            </a>
        </p>
        <p>
            Address: 
            
            {{#if this.address.streetName.length}}
                {{  this.address.streetName  }}
            {{else}}
                "N/A"
            {{/if}}
            {{#if this.address.city.length}}
                {{  this.address.city  }}
            {{else}}
                "N/A"
            {{/if}}
            {{#if this.address.state.length}}
                {{  this.address.state  }}
            {{else}}
                "N/A"
            {{/if}}
            {{#if this.address.zipCode.length}}
                {{  this.address.zipCode  }}
            {{else}}
                "N/A"
            {{/if}}
        </p>
        <p>
            Phone: 
            {{  this.phoneNumber    }}
        </p>
        <p>
            Email: {{   this.email }}
        </p>
        <p>
            Max Population Density : {{ this.maxCapacity    }}
        </p>
        <p>
            Overall Rating: {{  this.overallRating   }}
        </p>
    </div>
        {{/each}}
        <a class="go_home_link" href="/">Go to Home Page</a><br>