<main class="main">
    <br>
    <a class="go_home_link" href="/user">Home Page</a><br>
    <h1>Update Form</h1>
     {{#if error }}
            <div class="form-group">
                <div class="alert alert-danger">
                    <p>{{ error }} </p>
                </div>
            </div>
    {{/if}}
    <form id ="update-form" method="POST" action="/user/updateinfo">
        <label for="firstName">Enter you first name: </label>
        <input id ="firstName" type="text" name="firstName" value="{{firstName}}", placeholder="{{firstName}}"/>
        <div class="form-group hidden" id="error-container1">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="lastName">Enter you last name: </label>
        <input id ="lastName" type="text" name="lastName" value="{{lastName}}", placeholder="{{lastName}}"/>
        <div class="form-group hidden" id="error-container2">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="sex">Sex: </label>
        <select name="sex" id="sex">
            <option selected="{{sex}}" value="female">Female</option>
            <option value="male">Male</option>
            <option value="non-binary">Non-Binary</option>
            <option value="prefer-not-to-say">Prefer not to say</option>
        </select>
        <div class="form-group hidden" id="error-container3">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="dob">Enter your date of birth: </label>
        <input id ="dob" type="text" name="dob" value="{{dob}}", placeholder="{{dob}}"/>
        <div class="form-group hidden" id="error-container4">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="emailAddress">Enter you email address: </label>
        <input id ="emailAddress" type="email" name="emailAddress" value="{{email}}", placeholder="{{email}}"/>
        <div class="form-group hidden" id="error-container5">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="username">Enter your username: </label>
        <input id ="username" type="text" name="username" value="{{username}}", placeholder="{{username}}"/>
        <div class="form-group hidden" id="error-container11">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="ph">Enter your phone number: </label>
        <input id ="ph" type="text" name="ph" value="{{ph}}", placeholder="{{ph}}"/>
        <div class="form-group hidden" id="error-container6">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <p>Enter your address: </p>
        <label for="streetName" class = "tab">StreetName: </label>
        <input id ="streetName" type="text" name="streetName" class = "tab" value="{{streetName}}", placeholder="{{streetName}}"/>
        <div class="form-group hidden" id="error-container7">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="city" class = "tab">City: </label>
        <input id ="city" type="text" name="city" class = "tab" value="{{city}}", placeholder="{{city}}"/>
        <div class="form-group hidden" id="error-container8">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="state" class = "tab">State: </label>
        <input id ="state" type="text" name="state" class = "tab" value="{{state}}", placeholder="{{state}}"/>
        <div class="form-group hidden" id="error-container9">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="zip" class = "tab">ZipCode: </label>
        <input id ="zip" type="text" name="zip" class = "tab" value="{{zip}}", placeholder="{{zip}}"/>
        <div class="form-group hidden" id="error-container10">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="emergencyContactName">Enter your Emergency Contact Name: </label>
        <input id ="emergencyContactName" type="text" name="emergencyContactName" value="{{en}}", placeholder="{{en}}"/>
        <div class="form-group hidden" id="error-container12">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>
        <label for="emergencyContactPhoneNumber">Enter your Emergency Contact's Phone number: </label>
        <input id ="emergencyContactPhoneNumber" type="text" name="emergencyContactPhoneNumber" value="{{eph}}", placeholder="{{eph}}"/>
        <div class="form-group hidden" id="error-container13">
        <div class="alert alert-danger text-goes-here"></div>
        </div>
        <br>      
        <input id="submit" class="clickbutton" type="submit" value="Update"/>
        <br>    
    </form>
   
    <hr>
</main>