
    <br><br>
    <a class="go_home_link" href="/admin/adminhome">Home Page</a><br>
    <h2 class="textCenter">Users currently in the system</h2><br><br>
    <div class=" classes">
        {{#each user}}
        {{#if (eqUser this.role 'user')}}
        <div class="detailscont cls-detail">
            <br>
            <h3 class="class-name textCenter">{{this.firstName}} {{this.lastName}}</h3>
            <p>Sex: {{this.sex}}</p>
            <p>Date of Birth: {{this.dob}}</p>
            <p>Email: {{this.email}}</p>
            <p>Phone Number: {{this.phoneNumber}}</p>
            <p>Address:</p>
            <p>StreetName: {{this.address.streetName}}</p>
            <p>City: {{this.address.city}}</p>
            <p>State: {{this.address.state}}</p>
            <p>ZipCode: {{this.address.zip}}</p>
            <p>Username: {{this.username}}</p>
            <p>Emergency Contact Name: {{this.emergencyContactName}}</p>
            <p>Emergency Contact PhoneNumber: {{this.emergencyContactPhoneNumber}}</p>
            <p>Plan: {{this.membershipPlanDetails}}</p>
            <p>Joined Date: {{this.joinedPlanDate}}</p>
        </div>
        {{/if}}
    {{/each}}
    </div>
        
